<!DOCTYPE html>
<html>
<head>
<script src="{{url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{url_for('static', filename='raphael-min.js') }}"></script>
<script src="{{url_for('static', filename='g.raphael-min.js') }}"></script>
<script src="{{url_for('static', filename='g.line-min.js') }}"></script>
<script src="{{url_for('static', filename='g.line-min.js') }}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
<link href="{{url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified JavaScript -->

<script>
$(document).ready(function() {

	//Make the page reload every 10s
	setTimeout(function(){
		window.location.reload(true);
	},10000);

	//setpoint input validation
	$("#setPT_button").click(function (event) {
		if (!$.isNumeric($("#set_point").val())) {
			alert("Enter a NUMBER");
			event.preventDefault();
		}
		if($("#set_point").val() < 0 || $("#set_point").val() > 99){
			alert("Dont be silly");
			event.preventDefault();
		}
		if($("#set_point").val() == {{setpt}}) {
			event.preventDefault();
		}
	});

	// create short term graph (POT). contains the last 5 min
	var r1 = Raphael("shortGraph");
	var longxAx = [0];
	for (i=0; i<29; i++) {
		longxAx[i] = -i/6;//convert to point per min
	}
	var line1 = r1.linechart(5,5,680,300,longxAx,{{tempData[0:29]}}, {colors: ['#ac39ac'], axis: '0 1 1 0', axisxstep: '4', symbol: '', smooth: false, gutter: 10})	

	// create long term graph (POT). contains the last 60 min
	var r3 = Raphael("longGraph");
	var longxAx = [0];
	for (i=0; i<359; i++) {
		longxAx[i] = -i/6;//convert to point per min
	}
	var line3 = r3.linechart(5,5,680,300,longxAx,{{tempData}}, {colors: ['#ff1ab2'], axis: '0 1 1 0', axisxstep: '6', symbol: '', smooth: false, gutter: 10})	
	line3.axis[1];
	//r3.label(60,30,"Temperature");

});
</script>

</head>

<body>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsables" aria-controls="navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Brewcifier</a>
		</div>
		<div class="collapse navbar-collapse" id="collapsables">
			<ul class="nav navbar-nav">
				<li class="active"><p class="navbar-text">Temperature: {{tempData[0]}} °C</p></li>
				<li class="active"><p class="navbar-text">Set Point: {{setpt}} °C</p></li>
				<li class="active"><p class="navbar-text">Voltage Regulator: {{vRegSetPt}} %</p></li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="number" name="newSetPT" style="max-width:105px" id="set_point" class="form-control" placeholder="Set Point">
				</div>
				<button type="submit" class="btn btn-success" value="Submit" name="changeSetPT" id="setPT_button">Submit</button>
				<button type="submit" value="Turn Off Heat" name="stopHeat" class="btn btn-warning">Turn Off Heat</button>
				<button type="submit" value="Boil" name="boil" class="btn btn-danger">Boil</button>
			</form>
		</div>
	</div>
</nav>


<div class="container">
	<div class="col-md-8 col-md-offset-2 boxes">
	<div id='longGraph'></div>
	</div>
</div>
<div class="container">
	<div class="col-md-8 col-md-offset-2 boxes">
	<div id='shortGraph'></div>
	</div>
</div>
</body>
</html>
